<div class="row">
    <main class="col-md-12">
        <h1>Welcome to the About Page</h1>
        <p>I'm glad you're here!</p>

        <h2>About Me</h2>
        <p>My name is Frances Limlengco, and I am a student in the Business Information Technology program. My student ID is 180927238. I am passionate about web development and excited to share my projects with you.</p>
    </main>
</div>