<div class="row">
    <main class="col-md-12">
        <h1>HTML Demo</h1>

        <h2>Tables (Jane Austen Novels)</h2>
        <table class="table">
            <caption>Jane Austen Books</caption>
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Publish Year</th>
                    <th>About</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pride and Prejudice</td>
                    <td>1813</td>
                    <td>A classic of English literature, written with incisive wit and superb character delineation, it centers on the burgeoning relationship between Elizabeth Bennet, the daughter of a country gentleman, and Fitzwilliam Darcy, a rich aristocratic landowner.</td>
                </tr>
                <tr>
                    <td>Sense and Sensibility</td>
                    <td>1811</td>
                    <td>It follows the romantic lives of the Dashwood sisters, Elinor and Marianne, as they navigate love and marriage after their father's death leaves their family in financial ruin.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">End of List</td>
                </tr>
            </tfoot>
        </table>

        <table class="table">
            <caption>Jane Austen Films</caption>
            <thead>
                <tr>
                    <th>Movie Title</th>
                    <th>Release Year</th>
                    <th>Actors</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Pride and Prejudice</td>
                    <td>1995</td>
                    <td>Jennifer Ehle as Elizabeth Bennet, Colin Firth as Mr. Darcy</td>
                </tr>
                <tr>
                    <td>2005</td>
                    <td>Keira Knightley as Elizabeth, Matthew Macfadyen as Darcy</td>
                </tr>
                <tr>
                    <td>Sense and Sensibility</td>
                    <td>1995</td>
                    <td>Emma Thompson as Elinor Dashwood</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">End of List</td>
                </tr>
            </tfoot>
        </table>

        <p>These tables provide an overview of Jane Austen's literary works and their film adaptations.</p>

        <h2>Lists (What to do Toronto)</h2>
        <ol>
            <li>Niagara Falls</li>
            <li>Parks
                <ul>
                    <li><img class="img-fluid" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/21/23/3b/the-cn-tower-standing.jpg?w=700&h=-1&s=1" alt="Toronto Island Park"></li>
                    <li><img class="img-fluid" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/d4/77/1a/scarborough-bluffs.jpg?w=700&h=-1&s=1" alt="Scarborough Bluffs"></li>
                    <li><img class="img-fluid" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/7d/1f/23/high-park.jpg?w=700&h=400&s=1" alt="High Park"></li>
                </ul>
            </li>
            <li>CN Tower</li>
            <li>Royal Ontario Museum</li>
            <li>Rogers Centre</li>
        </ol>

        <p>This section shows some places to go and visit in Toronto.</p>

        <h2>Images</h2>
        <figure>
            <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder in halfpipe">
            <figcaption>Snowboarder in halfpipe.</figcaption>
        </figure>
        <figure>
            <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/4/47/React.png" alt="React Logo">
            <figcaption>React Logo.</figcaption>
        </figure>
        <figure>
            <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Node.js_logo.svg" alt="Node.js Logo">
            <figcaption>Node.js Logo.</figcaption>
        </figure>

        <h2>Audio</h2>
        <audio controls controlsList="nodownload">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>

        <h2>Video</h2>
        <video controls controlsList="nodownload">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </main>
</div>